<!DOCTYPE html>
<html>
<head>
    <title>Blockudocs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/shared.css">
</head>
<body>
    <page-app>
        <section class="loading-animation">
            <div class="loading-animation-content">
                <object
                    class="loading-animation-icon"
                    type="image/svg+xml"
                    data="/assets/loading-animation.svg">
                    Loading...
                </object>
            </icon>
        </section>
    </page-app>
    <script src="/vendors.js"></script>
    <script src="/shared.js"></script>
    <script src="/app.js"></script>
</body>
</html>
