<i>This example shows only part of namereg functionalities. Namereg contract is available <a href="https://github.com/ethereum/dapp-bin/blob/master/GlobalRegistrar/contract.sol">here</a>
</i>
<h1>Namereg</h1>
<h3>Search for name</h3>
<div>
    <text>Address: </text>
    <input type="text" id="address" onkeyup='onAddressKeyUp()' />
    <text>Name: </text>
    <text id="nameOf"></text>
</div>
<h3>Search for address</h3>
<div>
    <text>Name: </text>
    <input type="text" id="name" onkeyup='onNameKeyUp()' />
    <text>Address: </text>
    <text id="addressOf"></text>
</div>
<h3>Register name</h3>
<div>
    <text>Check if name is available: </text>
    <input type="text" id="registerOwner" onkeyup='onRegisterOwnerKeyUp()' />
    <text id='nameAvailability'></text>
</div>
<div>
    <button id="registerOwnerButton" type="button" ng-click="ctrl.registerOwner()">Register!</button>
</div>
<h3></h3>
<i>If you own the name, you can  also change the address it points to</i>
<div>
    <text>Address: </text>
    <input type="text" id="newAddress" />
    <button id="changeAddress" type="button" ng-click="ctrl.changeAddress()">Change address!</button>
    <text>Current address :</text>
    <text id="currentAddress"></text>
</div>