$footer-height: 60px;

:host {
  min-height: 100%;
  margin-bottom: $footer-height;
  background-color: red;

  > .container {
    padding: $footer-height 15px 0;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer-height;
    line-height: $footer-height; /* Vertically center the text there */
    background-color: #f5f5f5;

    > .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
